################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/.vs/OKRFeedbackService/config/applicationhost.config
/OKRFeedbackService.UnitTest/obj/
/OKRFeedbackService.UnitTest/bin/
/OKRFeedbackService/bin/
/OKRFeedbackService/obj/
/OKRFeedbackService.Common/bin/Debug/netcoreapp3.1
/OKRFeedbackService.Common/obj
/OKRFeedbackService.EF/bin/Debug/netcoreapp3.1
/OKRFeedbackService.EF/obj
/OKRFeedbackService.Service/bin/Debug/netcoreapp3.1
/OKRFeedbackService.Service/obj
/OKRFeedbackService.UnitTests/bin/Debug
/OKRFeedbackService.UnitTests/obj
/OKRFeedbackService.ViewModel/bin/Debug/netcoreapp3.1
/OKRFeedbackService.ViewModel/obj
/OKRFeedbackService.WebCore/bin
/OKRFeedbackService.WebCore/obj
/OKRFeedbackService.WebCore/Properties
/OKRFeedbackService.sln.DotSettings.user





